

footer {
    background: color(gris-oscuro);
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h2 {
        color: black;
        font-size: 2rem;
    }

    .flexinfo {
        display: flex;
        flex-flow: column nowrap;
    }

    .footer-logo {
        margin: 14px 5vw;
    }

    .ftr-info {
        width: auto;
        height: 100%;
        color: black;
        margin-bottom: 15px;
    }

    .padding-info {
        margin: 10px 5vw;
        font-family: "oswald";
    }

    .icons-info {
        width: 20px;
        border-radius: 5px;
    }
}


.redes-sociales {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-right: 3vw;
    text-align: center;

    .fb {
        border-radius: 10px;
    }

    .imgFooter {
        width: 35px;
    }

    .text-RedesSoc {
        font-size: 17px;
        font-family: "oswald";
        color: rgb(0, 0, 0);
    }
}

@media screen and (min-width: 768px){
    /* FOOTER */
footer {
    h2 {
        font-size: 3rem;
    }

    .padding-info {
        font-size: 20px;
    }

    .icons-info {
        width: 30px;
    }
}
    .redes-sociales {
    .fb {
        border-radius: 10px;
    }

    .imgFooter {
        width: 55px;
    }

}
}

@media screen and (min-width: $desktop){
    footer {
        .padding-info {
            font-size: 27px;
        }
    }

    .redes-sociales {
        .text-RedesSoc {
            font-size: 24px;
            padding: 10px;
            margin-right: 10px;
            border-right: 1px solid rgb(0, 0, 0);
        }
    }
}