@import 'header';
@import 'variables';
@import 'mixins';
@import 'footer';



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imgs/fondo.jpg);

    ul li {
        list-style: none;
    }

    .cursor {
        cursor: pointer;
    }

    .noUndlined {
        text-decoration: none;
    }
}

.row{
    --bs-gutter-x: 0;
}



/*------------VISTA PARA MOBILE--------------*/

/*       BARRA DE NAVEGACION        */

.menu {
    background: color(gris-oscuro);
    border-bottom: 1px solid rgba(0, 0, 0, 0.8);

    a{
        transition: all 0.2s;
    }

    a:hover {
        color: rgb(30, 30, 30);
    }

    .colorNavs {
        color: white;
    } 
    
    #busc-dentro{
        font-family: Arial, Helvetica, sans-serif;
    }
}

nav ul li{
    font-family: "oswald";
    font-size: 22px;
    font-weight: 500;
    padding: 20px 0;
    text-align: center;
    }





/*---------- PAGINA INDEX ----------*/

/*          CONTENIDO PRINCIPAL           */

.container-main {
    width: 100%;
    height: auto;
    margin: 80px 0;
    box-shadow: 1px 1px 8px black;

    #flex-main {
        background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../imgs/Captura.PNG);
        background-size: cover;
        background-position: top 40% right 0;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: rgb(240, 240, 240);

        span {
            padding: 10px;
            font-size: 2.5rem;
            font-weight: 800;
            letter-spacing: 3px;
            display: block;
            padding: 8px 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        p {
            font-size: 19px;
            background-color: #696867a6;
            padding: 15px 20px;
            margin: 0 14px;
            border-radius: 10px;
            border: 1.5px solid rgba(255, 255, 255, 0.2);
        }
    }
}

/*             SECCION MARCAS             */

.seccion-marcas {
    background-color: color(gris-claro);
    padding-bottom: 8px;
    margin: 80px 0 20px 0;
    border-bottom: 2px solid #898989;
}

.texto-demost {
    background-color: color(gris-claro);
    text-align: center;
    padding: 25px 0;
    margin: 25px 0;
    font-size: 23px;
    font-weight: 600;
    border-top: 2px solid rgba(146, 146, 146, 0.836);
    border-bottom: 1px solid rgba(146, 146, 146, 0.836);
}

.caja1 {
    background-color: #fce575c0;
    height: 190px;
    padding: 25px 0;
    margin-bottom: 50px;
    overflow-x: scroll;
    overflow-y: hidden;
    display: flex;
    border-top: 1px solid rgba(161, 161, 161, 0.692);
    border-bottom: 1px solid rgba(161, 161, 161, 0.692);
}

.imagen-m {
    margin: 0 20px 10px;
    border: $borde-muyclaro;
}

#texto-marcas {
    text-align: center;
    margin-bottom: 50px;
    padding: 0 4%;
}

#texto-marcas p {
    padding: 10px;
    font-family: "oswald";
    font-size: 20px;
    background-image: linear-gradient(to left, rgb(20, 20, 20), rgba(204, 0, 0, 0.9));
    border-radius: 15px;
    color: white;
}

.texto-negro {
    color: rgb(13, 13, 13);
}

/*         SECCION RUBROS         */

#demostrac2 {
    background-color: color(gris-claroscuro);
    width: 100%;
    text-align: center;
    padding: 25px 20px;
    font-size: 23px;
    font-weight: 600;
    border-top: 2px solid rgba(113, 113, 113, 0.918);
    border-bottom: 1px solid rgba(113, 113, 113, 0.916);
}

.seccion-rubros {
    background-color: #c6c6c6;
    padding-bottom: 50px;
    margin: 120px 0;
    border-bottom: 2px solid rgba(146, 146, 146, 0.836);
}


.cajaimg {
    width: 100%;
    height: 350px;
    margin: 70px 0;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.25);
}


#imgMet {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url(../imgs/met.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.textIzq {
    color: white;
    font-size: 25px;
    padding: 15px 40px;
    margin-left: 5%;
    margin-bottom: 4%;
    font-weight: 600;
    background-color: #7a6747cc;
    border: 2px solid #41372967;
    border-radius: 6px;
    transition: all 0.5s;
}

.textIzq:hover,
.textDerc:hover {
    padding: 25px 60px;
    background-color: #7a6747;
}


#imgCarp {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../imgs/dewalt.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

}

.textDerc {
    color: white;
    padding: 15px 40px;
    margin-right: 5%;
    margin-bottom: 4%;
    font-size: 25px;
    font-weight: 600;
    background-color: #7a6747cc;
    border: 2px solid #41372967;
    border-radius: 6px;
    transition: all 0.5s;
}

#imgCarnic {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url(../imgs/carniceria.jpg);
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}



.font {
    font-family: "oswald";
}

.fontstyle {
    font-size: 17px;
}










/*----------MEDIA QUERY TABLET----------*/

@media screen and (min-width: $tablet) {

    /*-------------- PAGINA INDEX -------------*/

    /* CONT PRINC */
    .container-main {
        #flex-main {
            height: 450px;
        }
    }


    #flex-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #flex-main span {
        font-size: 3.5rem;
    }

    #flex-main p {
        font-size: 25px;
    }

    /* SECCION MARCAS */
    .texto-demost {
        font-size: 40px;
    }

    .caja1 {
        height: 290px;
        padding: 35px 0;
    }

    /* SECCION RUBROS */
    #demostrac2 {
        font-size: 42px;
    }

    .cajaimg {
        height: 550px;
        margin: 70px 0 120px;
    }

    .textIzq {
        font-size: 55px;
    }

    .textDerc {
        font-size: 55px;
    }



}

/*-------VISTA DESKTOP--------*/

@media screen and (min-width: $desktop) {

    /* GRID */
    #gridContainer-index {
        display: grid;
        grid-template-columns: 60% 40%;
        grid-template-rows: auto auto auto auto auto auto;
        grid-template-areas: "header header"
            "nav nav"
            "main main"
            "seccion-marcas texto-main"
            "seccion-rubros seccion-rubros"
            "footer footer";
    }



    /*        BARRA DE NAV         */
    .menu {
        grid-area: nav;
        height: 60px;
    }

    nav ul li {
        font-size: 17px;
        padding: 10px 40px;
        border: none;
        text-align: center;
    }

    .margen-desktop {
        margin-right: 35px;
    }



    /*------------------- PAGINA INDEX --------------------------*/

    /* CONTENIDO PRINCIPAL */
    .container-main {
        #flex-main {

            p {
                font-size: 28px;
                margin: 0 45px;
            }
        }
    }


    /* SECCION MARCAS */
    .seccion-marcas {
        background-image: linear-gradient(to right, #707070, #e9e9e9);
        border-top: 2px solid #898989;
        grid-area: seccion-marcas;
    }

    .texto-demost {
        background-image: linear-gradient(to right, #707070, #e9e9e9);
        font-size: 40px;
        border: none;
    }

    #texto-marcas {
        background-color: #e9e9e9;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: justify;
        padding: 80px 0;
        margin: 80px 0 20px 0;
        border-top: 2px solid #898989;
        border-bottom: 2px solid #898989;
    }

    #texto-marcas p {
        color: black;
        font-weight: 500;
        padding: 0 80px;
        font-family: "oswald";
        font-size: 35px;
        background-image: none;
    }

    .caja1 {
        background-image: linear-gradient(to right, #707070, #e9e9e9);
        height: 350px;
        border: none;
    }

    /* SECCION RUBROS */
    .seccion-rubros {
        grid-area: seccion-rubros;
    }

    main {
        grid-area: main;
    }

    header {
        grid-area: header;

    }

    footer {
        grid-area: footer;
    }

}







/*-----------  ESTILOS PAGINA PRODUCTOS  ----------------*/
#categs {
    background-color: color(gris-oscuro);
    color: white;
}

.despl-prods {
    padding: 10px 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    font-weight: 500;
}

.titulo-prods {
    font-weight: 800;
}

.botonCanvas {
    padding: 15px 20px;
    margin: 20px;
}

.offcan-categs {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#secc-prods {
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap row;
    align-items: center;
    padding: 30px 40px;

}

.lateral-categs {
    width: 100%;
    & a{
        text-decoration: none;
        color: #212529;
    }
}

.caja-prods {
    background-color: #e9e9e9;
    width: 20%;
    min-width: 270px;
    margin: 20px;
    padding: 15px;
    border: $borde-claro;
    border-radius: 5px;
    & p{
        margin-bottom: 10px;
    }
}

.img-cuchillo {
    width: 100%;
    height: 268px;
    border-radius: 20px;
    border: $borde-muyclaro;
}

.nomb-prod{
    margin: 5px 0 0 0;
    font-size: 22px;
    
}

#div-preciocomp{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 10px;
    & h5{
        margin: 5px 0 5px 5px;
    }
}


.info-prods {
    margin-top: 12px;
}

.caja-modal-prods {
    padding: 30px;
}

.flex-botonsalir{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & button{
        border: none;
        background: none;
        font-size: 35px;
        transition: all 0.3s;
        &:hover{
            color: rgb(211, 18, 18);
        }
    }
}

.tit-carro{
    margin: 10px 0;
}

.productosEnCarr{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    & p{
        margin: 10px 0;
    }
    & .boton-sacar{
        border: none;
        background: none;
        font-size: 25px;
    }
}

.estrellas{
    color: rgb(233, 188, 11);
    margin-bottom: 8px;
}


@media screen and (max-width: $desktop) {
    #secc-categs {
        display: none;
    }
}

@media screen and (min-width: $desktop) {

    #secc-categs {
        background-color: color(gris-claro);
    }

    .borde-right {
        border-right: 1px solid black;
    }

    .titulo-prods {
        padding: 25px 0 20px 6%;
        font-size: 2rem;
    }

    .despl-prods {
        padding: 20px 0;
        font-size: 21px;

        ul {
            padding-left: 25px;
        }

        li {
            font-weight: 400;
            margin-top: 16px;
            transition: all 0.3s;

            &:hover {
                padding-left: 10px;
                color: black;
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 2px;
                cursor: pointer;
            }
        }

        span {
            padding: 0 8px;
            transition: all 0.3s;

            &:hover {
                background-color: rgba(255, 255, 255, 0.2);
                border-radius: 5px;
                color: black;
            }
        }
    }

    .offcan-categs {
        display: none;
    }

    #secc-prods {
        padding: 100px;

        .caja-prods {
            width: 20%;
            min-width: 300px;
            min-height: 410px;
            transition: 0.2s;
            &:hover {
                box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
            }
        }
    }

    .nombre-prod-modal {
        font-size: 24px;
    }

    .valor-prod {
        font-size: 20px;

    }
}


/*---------------  ESTILO PAGINA SOBRE NOSOTROS  ------------------*/

.seccion-us{
    background-color: #a19c66a2;
    margin: 30px 15px;
    padding: 20px;
    border-radius: 30px;
}

.cajaUs1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.tituloAflv {
    margin: 30px 0;
    font-size: 45px;
    font-weight: 700;
    display: inline;
}

#imgAflv {
    width: 100%;
    border-radius: 2px;
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.3);
}

.cajaUs2 {
    background-color: #a19c66a2;
    padding: 18px;
    margin: 30px 5px;
    border-radius: 10px;
    font-family: "oswald";
}

#titConoc {
    margin: 5px;
}

.cajaUs3 {
    background-color: #a19c66a2;
    padding: 18px;
    margin: 30px 5px;
    text-align: end;
    border-radius: 10px;
    font-family: "oswald";

    & p{
        text-align: start;
    }
}

#titServ {
    text-align: end;
}


.img-conocenos {
    width: 90vw;
    margin-left: 5%;
}

.img-servicio {
    width: 90vw;
    margin-left: 5%;
}

#carrusel{
    box-shadow: 2px 2px 20px;
}
#carrusel2{
    box-shadow: 2px 2px 20px;
}


@media screen and (min-width: $desktop) {
    
    .seccion-us{
        padding: 40px;
        margin: 50px 70px;
    }
    .tituloAflv {
        font-size: 85px;
        margin: 70px 0;
    }

    #imgAflv {
        width: 60vw;
    }

    .cajaUs2 {
        padding: 30px;
        margin: 100px 180px;
        border: $borde-claro; 
    }

    #titConoc {
        font-size: 60px;
    }

    #parrafConoc {
        font-size: 25px;
    }

    .cajaUs3 {
        padding: 30px;
        margin: 100px 180px;
        border: $borde-claro;
    }

    #titServ {
        font-size: 60px;
    }

    #parrafServ {
        font-size: 25px;
    }

    .cajaUs4 {
        width: 340px;
        padding: 30px;
        font-size: 30px;
        grid-area: cajaUs4;
    }


    .img-conocenos {
        grid-area: img-conocenos;
        width: 28vw;
        margin: auto 0;
    }

    .img-servicio {
        grid-area: img-servicio;
        width: 28vw;
        margin: auto 0;
    }

    #carrusel{
        width: 790px;
        height: 512px;
        margin: 100px auto;
    }
    #carrusel2{
        width: 800px;
        height: 600px;
        margin: 100px auto;
    }
}











/*               ESTILOS PAGINA CONTACTO              */

.flexCont {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-form {
    background-color: color(gris-claro);
    width: 320px;
    margin: 110px 0;
    padding: 25px 0;
    border-radius: 10px;
    border: $borde-muyclaro;

    .titulo-form {
        text-align: center;
        margin: 30px 0;
        font-size: 45px;
        font-weight: 800;
        font-family: $fuente;

    }

    .formulario {
        text-align: center;
        padding: 10px 0;

        input {
            padding: 10px 7px;
            width: 250px;
            border-radius: 10px;
            border: $borde-fino;
        }
    }

    #formulario-btn {
        @extend .formulario;
        padding: 30px 0;

        button {
            width: 200px;
            height: 40px;
            font-size: 18px;
            font-weight: 600;
            font-family: $fuente;
            border-radius: 10px;
            border: $borde-claro;
            background-color: white;
            transition: all 0.4s;
            &:hover{
                background-color: color(rojo-header);
                color: white;
            }
        }
    }
}

#div-check{
    display: flex;
    justify-content: center;
    & p{
        margin: 10px 0 10px 10px;
        font-family: "oswald";
        font-size: 20px;
    }
}

#info-contacto {
    width: 100%;
    margin-bottom: 100px;
    background-color:rgba(129, 129, 129, 0.3);
    padding: 60px 0 30px;

        #f-cont{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            & div{
                margin: 25px 0;
            }

        }
        .titulo1-info-cont{
            margin: 0 0 50px;
            font-size: 36px;
            font-weight: 600;
            text-align: center;
        }

        .sub-info-cont{
            font-size: 32px;
        }
        .i-cont{
            font-size: 120px;
            margin-bottom: 15px;
        }
}







@media screen and (min-width: $desktop) {

    .flexCont{
        margin: 0 12%;
        background-color: #e9e9e9;
        border-left: $borde-claro;
        border-right: $borde-claro;

            .caja-form {
            width: 400px;
            padding: 70px 0;
                .titulo-form{
                    font-size: 50px;
                }
        }
    }

    #info-contacto {
        margin-bottom: 100px;
        background-image:linear-gradient(to top, rgb(148, 148, 148), #e9e9e9);
    
            #f-cont{
                flex-direction: row;
                justify-content: space-evenly;
                text-align: center;
                & div{
                    margin: 100px 0 50px;
                }
    
            }
            .titulo1-info-cont{
                margin: 0 0 50px;
                font-size: 56px;
                font-weight: 600;
                text-align: center;
            }
    
            .sub-info-cont{
                font-size: 40px;
            }
            .i-cont{
                font-size: 170px;
                margin-bottom: 25px;
            }
    }

    


}